@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="form">
            @Html.Action("ViewCredentials")
        </div>
    </div>
    <div class="panel-body">
        @if (HttpContext.Current.User.IsInRole("Users"))
        {
            <form class="form form-horizontal">
                @Html.Action("UserVaults")
                @Html.Action("AllVaults")
            </form>
        }
    </div>
</div>
@if (HttpContext.Current.User.IsInRole("VaultAdmins"))
{
    @Html.ActionLink("My vaults", "Index", "Vault", new { id = HttpContext.Current.User.Identity.GetUserId() }, new { @class = "btn btn-success" })
}


