@model Vault.Models.WebUser
<h3>Welcome to vault management system, @Model.UserName !</h3>
<h4>If you have enough permissions you can create your own vaults or you can only see other's vaults.@Html.ActionLink("Log out", "Logout", "Account", null, new { @class = "btn btn-danger btn-xs pull-right" })  </h4>