@model Vault.Models.AddUsersModel
<div class="panel panel-primary">
    <div class="panel-heading">Add new user to the vault</div>

    @using (Html.BeginForm("AddUsers","Vault"))
    {
        <div class="panel-body">
            <input type="hidden" name="VaultId" value="@Model.VaultId"/>
            <div class="form-group">
                <label>Select user to add to the vault</label>
                @Html.DropDownList("UserId", Model.FreeUsers.Select(x => new SelectListItem()
                {
                    Text = x.UserName,
                    Value = x.Id
                }), new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Select user's access rights</label>
                @Html.DropDownList("AccessRight", Model.AccessRights.Select(x => new SelectListItem()
                {
                    Text = x,
                    Value = x
                }), new {@class = "form-control"})
            </div>
            <div class="panel-footer">
                <input type="submit" value="Add" class="btn btn-success btn-sm"/>
                @Html.ActionLink("Back", "Index", null, new {@class = "btn btn-default btn-sm"})
            </div>
        </div>
    }
</div>
