@model Vault.Models.AddUsersModel
<div class="panel panel-primary">
    <div class="panel-heading">Add new user to the vault</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-group">
            <label>Users that can be added to vault</label>
            @Html.DropDownListFor(x => x.FreeUsers, Model.FreeUsers.Select(x => new SelectListItem()
            {
                Text = x.UserName,
                Value = x.Id
            }), new {@class = "form-control"})

        </div>
        }
    </div>
    <div class="panel-footer">
        <input type="submit" value="Save"/>
    </div>
</div>
