@model Vault.Models.EditUsersModel
@if (Model.AllowReadUsers != null && Model.AllowReadUsers.Count() != 0)
{
    for (int i = 0; i < Model.AllowReadUsers.Count(); i++)
    {
        <tr>
            <td>
                <input type="checkbox" name="CreateUsers[@i].Id" value="@Model.AllowReadUsers[i].Id"/>
                <input type="hidden" name="CreateUsers[@i].UserName" value="@Model.AllowReadUsers[i].UserName"/>
            </td>
            <td>@Model.AllowReadUsers[i].Id</td>
            <td>@Model.AllowReadUsers[i].UserName</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="3" class="text-center">No users</td>
    </tr>
}
