@model Vault.Models.EditUsersModel
@if (Model.AllowCreateUsers != null && Model.AllowCreateUsers.Count() != 0)
{
    for (int i = 0; i < Model.AllowCreateUsers.Count(); i++)
    {
        <tr>
            <td>
                <input type="checkbox" name="ReadUsers[@i].Id" value="@Model.AllowCreateUsers[i].Id"/>
                <input type="hidden" name="ReadUsers[@i].UserName" value="@Model.AllowCreateUsers[i].UserName" />
            </td>
            <td>@Model.AllowCreateUsers[i].UserName</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="2" class="text-center">No users</td>
    </tr>
}

