@model Vault.Models.EditVaultModel
@if (Model.AllowReadUsers != null && Model.AllowReadUsers.Count() != 0)
{
    foreach (var user in Model.AllowReadUsers)
    {
        <tr>
            <td><input type="checkbox" name="ReadUsers" value="@user.Id" /></td>
            <td>@user.Id</td>
            <td>@user.UserName</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="3" class="text-center">No users</td>
    </tr>
}
