@model Vault.Models.EditVaultModel

@{
    ViewBag.Title = "Edit rights";
    Layout = "~/Views/Shared/_VaultLayout.cshtml";
}
@using (Html.BeginForm())
{
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="panel panel-primary">
        <div class="panel-heading">Grant full access</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td></td>
                    <th>Id</th>
                    <td>Name</td>
                </tr>
                @*@Html.Partial("EditUsersPartial", Model.AllowReadUsers)*@
            </table>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Grant read access</div>
        <div class="panel-body">
            <table class="table table-striped">
                @*<tr>
                    <td></td>
                    <th>Id</th>
                    <td>Name</td>
                </tr>*@
                @Html.Partial("EditUsersPartial", Model.AllowCreateUsers)
            </table>
        </div>
    </div>
    <p><input type="submit" value="Save" class="btn btn-success" /></p>
}