@model Vault.Models.EditVaultModel

@{
    ViewBag.Title = "Edit rights";
    Layout = "~/Views/Shared/_VaultLayout.cshtml";
}
@using (Html.BeginForm())
{
    <input type="hidden" name="VaultId" value="@Model.Id" />
    <div class="panel panel-primary">
        <div class="panel-heading">Grant full access</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td></td>
                    <th>Id</th>
                    <td>Name</td>
                </tr>
                @Html.Partial("AllowReadPartial", Model)
            </table>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Grant read access</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td></td>
                    <th>Id</th>
                    <td>Name</td>
                </tr>
                @Html.Partial("AllowCreatePartial", Model)
            </table>
        </div>
    </div>
    <p><input type="submit" value="Save" class="btn btn-success"/> @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })</p>
}