@model Vault.Models.VaultItemListModel
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_VaultLayout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">List of items</div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Content</th>
                <th>Action</th>
            </tr>
            @Html.Partial("VaultItemsPartial", Model)
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Create","AddItem", new {id = Model.VaultId},new {@class="btn btn-success"})
        @Html.ActionLink("Back","VaultList")
    </div>
</div>