@model IEnumerable<VaultDAL.Models.UserVault>
    <div class="panel-heading">My vaults</div>
    <div class="panel-body">
        <table class="table table-striped" id="vaultList">
                @Html.Partial("VaultListPartial", Model)
            </table>
        <div class="panel-footer">
            @Html.ActionLink("Create","Create",null,new {@class="btn btn-primary btn-xs"})
        </div>
    </div>