@model IEnumerable<VaultDAL.Models.UserVault>
    @if (Model != null && Model.Count() != 0)
    {
        foreach (var vault in Model)
        {
            <tr>
                <td>@vault.Name</td>
                <td>@vault.Description</td>
                <td>
                    @using (Html.BeginForm("Delete", "Vault",new {id=vault.Id}))
                    {
                        @Html.ActionLink("Edit","Edit",new {id=vault.Id}, new {@class="btn btn-primary btn-xs"})
                        <input type="submit" value="Delete" class="btn btn-danger btn-xs"/>
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3" class="text-center">No vaults</td>
        </tr>
    }