@model Vault.Models.VaultAccessLogModel
@{
    ViewBag.Title = "VaultLog";
    Layout = "~/Views/Shared/_VaultLayout.cshtml";
}
<div class="panel panel-primary well">
    <div class="panel-heading">Access log of the vault</div>
    <div class="panel-body">
           @Html.Partial("VaultLogPartial",Model.Events)
    </div>
    <div class="panel-footer text-center">
        @Html.Partial("PageLinksAjaxPartial",Model)
    </div>
</div>
@Html.ActionLink("Back", "Index", "Vault",null, new { @class = "btn btn-default pull-right" })
