@model Vault.Models.VaultItemListModel
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_VaultLayout.cshtml";
}
<div class="panel panel-primary well">
    <div class="panel-heading">Welcome to the vault</div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Content</th>
                <th>Action</th>
            </tr>
            @Html.Partial("VaultItemsPartial", Model)
        </table>
    </div>
    <div class="panel-footer">
        @if (Model.AccessRight == "Read")
        {
            <a class="btn btn-default" href="@Model.ReturnUrl">Back</a>
        }
        @if (Model.AccessRight == "Create")
        {
            @Html.ActionLink("Create","AddItem", new {id = Model.VaultId}, new {@class="btn btn-success"})
            <a class="btn btn-default" href="@Model.ReturnUrl">Back</a>
        }
    </div>
</div>