@model string
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_RoleAdminLayout.cshtml";
}
<div class="panel panel-primary well">
    @using (Html.BeginForm())
    {
        <div class="panel-body">
            @Html.ValidationMessageFor(x => x)
            <div class="form-group">
                <label>Role name:</label>
                <input type="text" name="name" class="form-control"/>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-success"/>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>